.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1rem 2rem;

    background: none;
    border: 0;
    border-radius: $radius_sm;

    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 500;
    color: $black;
    text-decoration: none;
    cursor: pointer;

    transition: background .2s linear, color .2s linear;

    &--pink {
        border: 2px solid $pink;

        &:hover {
            box-shadow: 0px 0px 20px rgba(52, 48, 70, 0.5);
            color: $white;
            background-color: $pink;
        }
    }
}
