.circle {
    width: 450px;
    height: 550px;

    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, .10);
    border-radius: 58% 42% 100% 0% / 29% 100% 0% 71%  ;

    animation: circleRadius 8s alternate infinite;

    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 1;

    @media (max-width: $breakpoint_xl) {
        right: -2rem;
        bottom: -2rem;
    }

    @media (max-width: $breakpoint_sm) {
        display: none;
    }
}

@keyframes circleRadius {
  0% {
      border-radius: 58% 42% 100% 0% / 29% 100% 0% 71%;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }

  50% {
      border-radius: 64% 36% 61% 39% / 79% 65% 35% 21%;
      -webkit-transform: translate3d(-100px, -40px, 0);
      transform: translate3d(-100px, -80px, 0);
  }

  100% {
      border-radius: 27% 73% 36% 64% / 51% 63% 37% 49%;
      -webkit-transform: translate3d(0, -100px, 0);
      transform: translate3d(0, -100px, 0);
  }
}
