.nav {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
}

.nav__link {
    padding: .3rem 1.5rem;
    margin-right: 1rem;
    color: #121212;
    text-decoration: none;
    border-radius: 20px;
    -webkit-transition: background .25s linear;
    -o-transition: background .25s linear;
    transition: background .25s linear;
    border-radius: 15px/45px;

    &:hover {
        color: $white;
        background-color: #e68080;;


    }

}
