.nav {
    font-size: 1rem;
    font-weight: 500;
}

.nav__link {
  text-decoration: none;
  letter-spacing: 3px;
  color: $black;
  margin: 0 15px;
  transition: all 0.2s ease;
  text-transform: uppercase;


      &:hover {
          color: $pink;
          -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
          transform: scale(1.1);
    }

    @media (max-width: $breakpoint_sm) {
    display: block;
    margin: 0 3px;
    text-align: center;
    }

}
