@import "vars";

/* Default styles */
html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: $gray;
    
    font-family: proxima-nova, sans-serif;
    color: $black;
    font-size: 1rem;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/transitions";


/* Blocks */
@import "blocks/page";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/lang";
@import "blocks/content";
@import "blocks/author";
@import "blocks/intro";
@import "blocks/btn";
@import "blocks/contacts";
@import "blocks/circle";
@import "blocks/social";
@import "blocks/modal";
@import "blocks/form";
@import "blocks/input";
@import "blocks/services";
@import "blocks/portfolio";
@import "blocks/footer";

/* vendor libs */
@import "vendor/slick"
